In [ ]:
## 본 강의에서 배부되는 과제의 머리말은 반드시 다음과 같이 작성해야 함
## 변수 설명
# Assignment Number... :
# Student ID.......... :
# Student Name........ : #반드시 이름은 한글로 작성할 것
# File Name........... :

In [1]:
a = 1
b = '1'

In [2]:
print(a)

1

In [3]:
print(b)

1

In [4]:
a

1

In [5]:
b  #b만을 출력할 경우 '1'로 표기되는 이유는 문자열형태 출력(print() 사용)이 아닌
   #대표형태로서 사용하였기에 문자열임을 표기하기위해 '1'을 출력.
   #과제나 프로그래밍시에는 print()를 사용할 것 ********

'1'

In [6]:
a = '홍길동'
b = 27
print(a, b)  # string, integer
a, b

홍길동 27

('홍길동', 27)

In [7]:
a = '안녕'
b = '파이썬' # string, string
a + b

'안녕파이썬'

In [8]:
'Python', 3

('Python', 3)

In [9]:
1, 2, 3,   4,            5

(1, 2, 3, 4, 5)

In [10]:
1+ 2+ 3+ 4+ 5

15

In [11]:
print(1+2+3+4+5)

15

In [12]:
#input([prompt])함수 = 입력을 받는다.
x = input() #input된 값을 함수에 저장할 때 사용
x

3

'3'

In [13]:
y = input('정수를 입력하세요: ') #와 같은식으로 input 사용시 prompt를 써준다.

정수를 입력하세요: 3

In [14]:
#문자열이 입력된 경우
name = input('이름을 입력하세요: ')
name

이름을 입력하세요: 정상대

'정상대'

In [15]:
#숫자가 입력된 경우
age = input('나이를 입력하세요: ')
age

#보통 코딩시 int age를 먼저 상위에 선언 후 사용함

나이를 입력하세요: 29

'29'

In [16]:
#int age를 상위에 선언하지 않았을 경우
#age + 1과 같이 바로 사용하면 에러가 남.
str(age)

'29'

In [17]:
int(age) + 1 #과 같은 식으로 int 형변환을 해줘야한다.
             #혹은 aa = int(input('Enter integers : '))과 같은식으로 input자체를 형변환시킴.

30

In [18]:
#파이썬은 식별자 자료형 선언이 자동으로 지정되기에 자료형 선언이 불필요함.
a = 1
type(a)
#str(a)
#class(a)

int

In [19]:
a = '1'
b = '2'
a + b 
#결과물은 3이 아닌 1과 2라는 문자열을 연결한 '12'가 나온다.

'12'

In [20]:
a = 1
b = '2'
a + b
#위의 경우는 형태 자체가 연산이 불가능하기에 Syntax Error 표시.

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [22]:
#만약 위 코드를 실행하고싶다면 형변환을 해주어야 함.
a + int(b)

3

In [25]:
print() #공백을 프린트하지만, end=\n의 기본옵션으로 인해 결과창에 한 줄의 공백을 생성하기 위해 사용

In [26]:
print(end='\n') #기본옵션으로 지정되어있으며 print시 자동 줄바꿈이 가능한 기능.

In [49]:
print('python', 5,                 15, 'a') #띄어쓰기가 몇 칸이더라도 sep=' '으로 인해 한칸씩만 seperate됨
print('python', 5, 15, 'a')

python 5 15 a
python 5 15 a

In [28]:
print('Python', 3, sep='')

Python3

In [29]:
print('Python', 3, sep= ' version ')

Python version 3

In [30]:
print('a', end='^^')

a^^

In [31]:
print('Python is fun')
print('Python is easy')

Python is fun
Python is easy

In [32]:
print('Python is fun', end= ' and ')

Python is fun and

In [52]:
print('1', '2', '3', sep=' @ ', end = ' end', file=open('num.txt', 'w'))
#결과값이 num.txt에 저장됨

In [34]:
'안녕' + '파이썬'

'안녕파이썬'

In [35]:
'파이썬' * 3

'파이썬파이썬파이썬'

In [36]:
'지금 시간이 ' + 11 + '시입니다.'

TypeError: must be str, not int

In [37]:
'지금 시간이 ' + str(11) + '시입니다.'

'지금 시간이 11시입니다.'

In [38]:
name = '홍길동'
print('Hi!', name) #이와 같이 프린트할 경우 sep때문에 자동으로 빈칸 생김
print('Hi! ' + name) # +는 string끼리 이어주는것이기에 빈칸을 따로 주어야 함

Hi! 홍길동
Hi! 홍길동

In [39]:
name = '홍길동'
print('The length of your name is', len(name))
print('Your name consists of', str(len(name)) + ' characters.')

The length of your name is 3
Your name consists of 3 characters.

In [40]:
print(3 + 'a')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [54]:
print('3' + ' a')

3 a

In [55]:
print('3 a')
#윗 라인의 코드와 현재라인의 코드는 동일하지만 아래와는 다르다)

3 a

In [44]:
print(3, 'a')

3 a

In [45]:
print('a', 3, 'b')

a 3 b

In [46]:
print('a ' + str(3) + ' b')

a 3 b

In [47]:
age = input()

29

In [48]:
age

'29'

In [37]:
print('Your age is', age)

Your age is 29

In [39]:
print('당신의 나이는', age, '살입니다.') #나이와 살입니다 가 붙여지지 않음.

당신의 나이는 29 살입니다.

In [40]:
print('당신의 나이는', age + '살입니다.')

당신의 나이는 29살입니다.

In [41]:
print('당신의 나이는 {}살입니다.'.format(age)) #대체

당신의 나이는 29살입니다.