In [1]:
hour_rate = 7500
total_wage = 0

def albeit(hours):
    global total_wage
    daily_wage = hour_rate * hours
    total_wage += daily_wage
    return total_wage
albeit(4)

30000

In [2]:
albeit(3)

52500

In [3]:
albeit(5) # 두 명만 알바해도 코드가...

90000

In [8]:
class Albeit:
    hour_rate = 7500
    def __init__(self):
        self.total_wage = 0
    def calculate_wage(self, hours):
        daily_wage = Albeit.hour_rate*hours
        self.total_wage += daily_wage

In [9]:
albeit1 = Albeit()
albeit2 = Albeit()

In [14]:
albeit1.calculate_wage(5)

In [15]:
albeit1.total_wage

112500

In [17]:
albeit2.total_wage

0

In [19]:
class PartTimer:
    hour_rate = 7500
    nickname = None
    def setnickname(self, name):
        self.nickname = name
kim = PartTimer()
lee = PartTimer()
print(type(kim))
print(type(lee))

<class '__main__.PartTimer'>
<class '__main__.PartTimer'>

In [22]:
# 초기화 함수(생성자)에서 닉네임을 받자
class PartTimer:
    hour_rate = 7500
    def __init__(self, name):
        self.nickname = name
    def getnickname(self):
        return '저의 닉네임은 ' + self.nickname + '입니다.'
kim = PartTimer('제이지')
kim.getnickname()

'저의 닉네임은제이지입니다.'

In [23]:
print(isinstance(-5, str))
print(isinstance(-5, int))
print(isinstance(0.0, int))
print(isinstance('', str))
print(isinstance([1], list))

False
True
False
True
True

In [24]:
# 클래스 속성과 인스턴스 속성
## 클래스 속성을 사용하는 케이스도 있기 마련이다
class PartTimer:
    hour_rate = 7500
    total_parttimers = 0
    def __init__(self, name):
        self.nickname = name
        PartTimer.total_parttimers += 1 # 이 부분이 클래스 속성 PartTimer 클래스를 생성할 때마다 추가됨
    def getnickname(self):
        return '저의 닉네임은 ' + self.nickname + '입니다.'

In [41]:
class MovieInfo:
    def __init__(self, movie_name, year, director, budget, stars):
        self.movie_name = movie_name
        self.year = year
        self.director = director
        self.budget = budget
        self.stars = stars
    def info(self):
        return ("=== 영화 {0} 정보 =======\n영화 이름: {0}\n개봉 년도: {1}\n감독: {2}\n예산: {3}\n주연: {4}".format(self.movie_name, self.year, self.director, self.budget, self.stars))
    def get_stars(self):
        print("=== 영화 {}의 주연 배우 목록 =======".format(self.movie_name))
        for star in self.stars:
            print(star)

In [47]:
interstellar = MovieInfo('Interstellar', 2014, 'Christoper Nolan', '$165,000,000', ['Matthew McConaughey', 'Anne Hathaway', 'Jessica Chastain'])
print(interstellar.info())
interstellar.get_stars()

=== 영화 Interstellar 정보 =======
영화 이름: Interstellar
개봉 년도: 2014
감독: Christoper Nolan
예산: $165,000,000
주연: ['Matthew McConaughey', 'Anne Hathaway', 'Jessica Chastain']
=== 영화 Interstellar의 주연 배우 목록 =======
Matthew McConaughey
Anne Hathaway
Jessica Chastain

In [48]:
madmax = MovieInfo('Mad Max: Fury Road', 2015, 'George Miller', '$75,000,000', ['Tom Hardy', 'Charlize Theron', 'Nicholas Hoult'])
print(madmax.info())
madmax.get_stars()

=== 영화 Mad Max: Fury Road 정보 =======
영화 이름: Mad Max: Fury Road
개봉 년도: 2015
감독: George Miller
예산: $75,000,000
주연: ['Tom Hardy', 'Charlize Theron', 'Nicholas Hoult']
=== 영화 Mad Max: Fury Road의 주연 배우 목록 =======
Tom Hardy
Charlize Theron
Nicholas Hoult

In [49]:
logan = MovieInfo('Logan', 2017, 'James Mangold', '$97,000,000', ['Hugh Jackman', 'Patrick Stewart', 'Dafne Keen'])
print(logan.info())
logan.get_stars()

=== 영화 Logan 정보 =======
영화 이름: Logan
개봉 년도: 2017
감독: James Mangold
예산: $97,000,000
주연: ['Hugh Jackman', 'Patrick Stewart', 'Dafne Keen']
=== 영화 Logan의 주연 배우 목록 =======
Hugh Jackman
Patrick Stewart
Dafne Keen

In [50]:
from parttimer import PartTimer
park = PartTimer('라이언')
lee = PartTimer('네온', '137-1동')
park.nickname

'라이언'

In [51]:
lee.nickname

'네온'

In [53]:
park.work_place

'113동'

In [54]:
lee.work_place

'137-1동'

In [55]:
park.calculate_wage(4)

30000

In [56]:
lee.calculate_wage(3)

22500

In [57]:
park.calculate_wage(4)

60000

In [58]:
park.calculate_wage(3)

82500

In [59]:
lee.calculate_wage(3)

45000

In [60]:
PartTimer.total_part_timers

2