In [1]:
# 파이썬은 체이닝 비교가 가능하다
num1 = 1
num2 = 2
num3 = 3

if (num1<num2<num3):
    print("Chain")

Chain

In [3]:
[1,2,3,4,5] >= [1,2,3,2] # 다른 게 나올 때까지 진행하고 달라질 때 비교 연산자로 구분

True

In [4]:
[1,2,3,4,5] >= [1,2,3,2,7] # 다른 게 나올 때까지 진행하고 달라질 때 비교 연산자로 구분

True

In [5]:
[1,2,3,4,1] > [1,2,3,4] # 일단 있는 게 없는 것보다 크다

True

In [9]:
[1,2,3,4,-1] > [1,2,3,4] # 없다고 0인 것은 아닌 듯하다. -1이랑 비교해도 없는 쪽이 더 작다

True

In [2]:
# while else문
# while문이 정상적으로 종료되었다면 else문은 반드시 실행됨
total = 0
i = 0
while i < 10:
    i += 1
    total += i
else:
    print('Total', total)

Total 55

In [25]:
import random
fruits = ['사과', '딸기', '바나나', '블루베리', '포도']
fruit = ''
while fruit != '블루베리':
    fruit = random.choice(fruits)
    print(fruit)
else:
    print('블루베리가 선택되어 프로그램을 종료합니다')

포도
딸기
딸기
딸기
포도
딸기
오렌지
오렌지
블루베리
블루베리가 선택되어 프로그램을 종료합니다

In [27]:
x = int(input("x를 입력하세요: "))
y = int(input("y를 입력하세요: "))

if x > y :
    print('x가 y보다 큽니다')
elif x == y:
    print('x와 y가 같습니다')
else:
    print('x가 y보다 작습니다')

x를 입력하세요: 3
y를 입력하세요: 7
x가 y보다 작습니다

In [30]:
x = int(input("x를 입력하세요: "))
y = int(input("y를 입력하세요: "))

rest = x % y

if rest == 0 :
    print('zero')
elif rest % 2 == 0:
    print('even')
else:
    print('odd')

x를 입력하세요: 172
y를 입력하세요: 19
odd

In [33]:
t = (1,3,5,7,'a','b','c')
if 5 in t:
    print('5 is in t')
if 'd' in t:
    print('d is in t')

5 is in t

In [38]:
integers = [i for i in range(1,11)]

i = 0
while i < len(integers):
    if integers[i] % 2 == 1:
        print(integers[i])
    i += 1

1
3
5
7
9

In [39]:
colors = ['red', 'blue', 'pink', 'green', 'yellow', 'purple']
i = 0
while i < len(colors):
    if colors[i][0] == 'p':
        print(colors[i])
    i += 1

pink
purple

In [42]:
colors = ['red', 'blue', 'pink', 'green', 'yellow', 'purple']
i = 0
while i < len(colors):
    if colors[i].startswith('p'): # I feel so Pythonic~
        print(colors[i])
    i += 1

pink
purple

In [46]:
fruits = ['사과', '딸기', '바나나', '블루베리', '포도']

userF = input('과일 이름을 입력하세요...: ')
i = 0
while i < len(fruits):
    if userF == fruits[i]:
        print('과일 목록의 {}번째에 존재합니다.'.format(i+1))
        break
    i += 1
else:
    print('과일 목록에 존재하지 않습니다.')

과일 이름을 입력하세요...: 포도도
과일 목록에 존재하지 않습니다.

In [ ]:
# for else문
# for문이 정상적으로 종료되었다면 else문은 반드시 실행됨
# range는 범위 안의 정수를 담은 순회자를 반환
# enumerate는 순회형 자료를 입력받아 인덱스와 객체를 포함하는 열거형 객체를 반환

In [48]:
L = list(range(1,101))
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [50]:
print(list(range(3, 100, 2)))

[3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [53]:
list(enumerate(fruits))  # 이걸 참고!

[(0, '사과'), (1, '딸기'), (2, '바나나'), (3, '블루베리'), (4, '포도')]

In [51]:
fruits = ['사과', '딸기', '바나나', '블루베리', '포도']
for number, fruit in enumerate(fruits):
    print(number, ':', fruit)

0 : 사과
1 : 딸기
2 : 바나나
3 : 블루베리
4 : 포도

In [56]:
fruits = ['사과', '딸기', '바나나', '블루베리', '포도']
for number, fruit in enumerate(fruits, 11): # 11 is start
    print(number, ':', fruit)

11 : 사과
12 : 딸기
13 : 바나나
14 : 블루베리
15 : 포도

In [54]:
# range문
L = [45, -12, 7, 0, -38, -8]
for i in range(len(L)):
    L[i] = abs(L[i])
L

[45, 12, 7, 0, 38, 8]

In [55]:
# enumerate문
L = [45, -12, 7, 0, -38, -8]
for i,_ in enumerate(L): # _ is dummy variable       # more pythonic 
    L[i] = abs(L[i])
L

[45, 12, 7, 0, 38, 8]

In [58]:
# zip 함수       zip(*iterable)           # 가장 짧은 인자의 수만큼만 하고 멈춤
# zip은 튜플의 리스트를 반환함
x = ['a', 'b', 'c']
y = ['i', 'j', 'k', 'l']
z = '12345'

list(zip(x,y,z))

[('a', 'i', '1'), ('b', 'j', '2'), ('c', 'k', '3')]

In [59]:
for t in zip(x,y,z):
    print(t)

('a', 'i', '1')
('b', 'j', '2')
('c', 'k', '3')

In [60]:
integers = [i for i in range(1,11)]
for i in integers:
    if i % 2 == 1:
        print(i)

1
3
5
7
9

In [62]:
colors = ['red', 'blue', 'pink', 'green', 'yellow', 'purple']
for _,color in enumerate(colors):
    if color.startswith('p'): # startswith <-> endswith
        print(color)

pink
purple

In [1]:
# Lab 4-9
alphaO = [['A','B','C','D','E'], ['F','G','H','I','J'], ['K','L','M','N','O']]
for row in alphaO:
    for col in row:
        print(str.lower(col), end = ' ')
    print()

a b c d e
f g h i j
k l m n o

In [2]:
for i in range(2,10):
    for j in range(1,10):
        print(i*j, end = ' ')
    print()

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [4]:
years = [i for i in range(2000,3001)]
yoon = []
no_yoon = []
for i in range(len(years)):
    y_flag = 0
    y = years[i]
    if y % 400 == 0:
        y_flag = 1
    elif y % 100 == 0:
        y_flag = 0
    elif y % 4 == 0:
        y_flag = 1
    else:
        y_flag = 0
    
    if y_flag:
        yoon.append(y)
    else:
        no_yoon.append(y)

In [5]:
print("# of 윤년:", len(yoon), "\n# of not 윤년:", len(no_yoon))

# of 윤년: 243
# of not 윤년: 758

In [8]:
print(yoon)

[2000, 2004, 2008, 2012, 2016, 2020, 2024, 2028, 2032, 2036, 2040, 2044, 2048, 2052, 2056, 2060, 2064, 2068, 2072, 2076, 2080, 2084, 2088, 2092, 2096, 2104, 2108, 2112, 2116, 2120, 2124, 2128, 2132, 2136, 2140, 2144, 2148, 2152, 2156, 2160, 2164, 2168, 2172, 2176, 2180, 2184, 2188, 2192, 2196, 2204, 2208, 2212, 2216, 2220, 2224, 2228, 2232, 2236, 2240, 2244, 2248, 2252, 2256, 2260, 2264, 2268, 2272, 2276, 2280, 2284, 2288, 2292, 2296, 2304, 2308, 2312, 2316, 2320, 2324, 2328, 2332, 2336, 2340, 2344, 2348, 2352, 2356, 2360, 2364, 2368, 2372, 2376, 2380, 2384, 2388, 2392, 2396, 2400, 2404, 2408, 2412, 2416, 2420, 2424, 2428, 2432, 2436, 2440, 2444, 2448, 2452, 2456, 2460, 2464, 2468, 2472, 2476, 2480, 2484, 2488, 2492, 2496, 2504, 2508, 2512, 2516, 2520, 2524, 2528, 2532, 2536, 2540, 2544, 2548, 2552, 2556, 2560, 2564, 2568, 2572, 2576, 2580, 2584, 2588, 2592, 2596, 2604, 2608, 2612, 2616, 2620, 2624, 2628, 2632, 2636, 2640, 2644, 2648, 2652, 2656, 2660, 2664, 2668, 2672, 2676, 2680, 2684, 2688, 2692, 2696, 2704, 2708, 2712, 2716, 2720, 2724, 2728, 2732, 2736, 2740, 2744, 2748, 2752, 2756, 2760, 2764, 2768, 2772, 2776, 2780, 2784, 2788, 2792, 2796, 2800, 2804, 2808, 2812, 2816, 2820, 2824, 2828, 2832, 2836, 2840, 2844, 2848, 2852, 2856, 2860, 2864, 2868, 2872, 2876, 2880, 2884, 2888, 2892, 2896, 2904, 2908, 2912, 2916, 2920, 2924, 2928, 2932, 2936, 2940, 2944, 2948, 2952, 2956, 2960, 2964, 2968, 2972, 2976, 2980, 2984, 2988, 2992, 2996]

In [9]:
# professor way
leaps = [year for year in range(2000, 3001) if year % 4 == 0 and year % 100 != 0 or year % 400 == 0]
print(leaps)

[2000, 2004, 2008, 2012, 2016, 2020, 2024, 2028, 2032, 2036, 2040, 2044, 2048, 2052, 2056, 2060, 2064, 2068, 2072, 2076, 2080, 2084, 2088, 2092, 2096, 2104, 2108, 2112, 2116, 2120, 2124, 2128, 2132, 2136, 2140, 2144, 2148, 2152, 2156, 2160, 2164, 2168, 2172, 2176, 2180, 2184, 2188, 2192, 2196, 2204, 2208, 2212, 2216, 2220, 2224, 2228, 2232, 2236, 2240, 2244, 2248, 2252, 2256, 2260, 2264, 2268, 2272, 2276, 2280, 2284, 2288, 2292, 2296, 2304, 2308, 2312, 2316, 2320, 2324, 2328, 2332, 2336, 2340, 2344, 2348, 2352, 2356, 2360, 2364, 2368, 2372, 2376, 2380, 2384, 2388, 2392, 2396, 2400, 2404, 2408, 2412, 2416, 2420, 2424, 2428, 2432, 2436, 2440, 2444, 2448, 2452, 2456, 2460, 2464, 2468, 2472, 2476, 2480, 2484, 2488, 2492, 2496, 2504, 2508, 2512, 2516, 2520, 2524, 2528, 2532, 2536, 2540, 2544, 2548, 2552, 2556, 2560, 2564, 2568, 2572, 2576, 2580, 2584, 2588, 2592, 2596, 2604, 2608, 2612, 2616, 2620, 2624, 2628, 2632, 2636, 2640, 2644, 2648, 2652, 2656, 2660, 2664, 2668, 2672, 2676, 2680, 2684, 2688, 2692, 2696, 2704, 2708, 2712, 2716, 2720, 2724, 2728, 2732, 2736, 2740, 2744, 2748, 2752, 2756, 2760, 2764, 2768, 2772, 2776, 2780, 2784, 2788, 2792, 2796, 2800, 2804, 2808, 2812, 2816, 2820, 2824, 2828, 2832, 2836, 2840, 2844, 2848, 2852, 2856, 2860, 2864, 2868, 2872, 2876, 2880, 2884, 2888, 2892, 2896, 2904, 2908, 2912, 2916, 2920, 2924, 2928, 2932, 2936, 2940, 2944, 2948, 2952, 2956, 2960, 2964, 2968, 2972, 2976, 2980, 2984, 2988, 2992, 2996]

In [15]:
sal = {'David':30000, 'John':50000, 'Andrew':45000, 'Rita':70000, 'Michael':10000}
for i in sal:
    if sal[i] >= 50000:
        print('{}\'s salary is {}'.format(i, (str(sal[i])[:2]+','+'000')))

John's salary is 50,000
Rita's salary is 70,000

In [16]:
for i in sal:
    if sal[i] >= 50000:
        print('{}\'s salary is {:,}'.format(i, sal[i]))  # Oooh - oh

John's salary is 50,000
Rita's salary is 70,000

In [20]:
fruits = ['사과', '딸기', '바나나', '블루베리', '포도']

userF = input('과일 이름을 입력하세요...: ')
i = 0
for i in range(len(fruits)): # 당연히 enumerate도 가능
    if userF == fruits[i]:
        print('과일 목록의 {}번째에 존재합니다.'.format(i+1))
        break
    i += 1
else:
    print('과일 목록에 존재하지 않습니다.')

과일 이름을 입력하세요...: 블루베리
과일 목록의 4번째에 존재합니다.