In [75]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [1]:
2 in [1,2,3]

True

In [3]:
1 in ['1', '2', '3']

False

In [2]:
'a' in ['a', 'b', 'c']

True

In [4]:
True ^ True # 비트연산자 중 XOR : ^

False

In [5]:
True ^ False

True

In [6]:
False ^ False

False

### Lab 3-1-2

In [7]:
a = 10

In [8]:
a /= 2

In [10]:
c = a**3

In [11]:
print(a+c)

130.0

In [12]:
b =10.0

In [13]:
d = 3*b -10

In [15]:
print(d%4)

0.0

### Lab 3-1-3

In [16]:
str1, str2, str3 = 'I', 'love', 'Python'

In [24]:
str4 = str1 + " " + str2 + " " + str3

In [25]:
print(str4)

I love Python

In [26]:
str4 = str4[:6]

In [27]:
str4

'I love'

In [28]:
str5 = str4 + " " + "programming"

In [29]:
print(str5)

I love programming

## Lab 3-1-4

In [30]:
total_cost = 137.5
tax_rate = 8.875
tip = 15

In [35]:
pay = total_cost * (100+tax_rate) / 100
final = pay * (100 + tip) /100
final_dec = '%.2f'%(final)
print(final_dec)       # print('{}'.format(round(final, 2)))

172.16

# Compound Data Types

In [37]:
L = ['Python'] # 참고로 소문자 l과 대문자 I 는 구분이 어려우니 한 글자만 쓸 때 사용하지 않을 것을 권장

In [41]:
list1 = list('Korea') # list를 이용해서 안에 글을 넣으면 쪼개지니 주의

In [42]:
list1

['K', 'o', 'r', 'e', 'a']

In [45]:
[1, 2] + [3, 4] # 리스트의 +연산자 활용      이 + 연산자는 뒤에 순회형(iterable)이 와야 함

[1, 2, 3, 4]

In [47]:
L = ['프로도', '네오']
L += 307 # 이게 안 되는 이유: 307은 iterable 하지 않다

TypeError: 'int' object is not iterable

In [48]:
L += [307] # 이건 당연히 된다

In [49]:
L

['프로도', '네오', 307]

# 리스트 축약

In [50]:
int_str1 = []
for i in range(1,10):
    int_str1.append(str(i))

In [52]:
int_str2 = [str(i) for i in range(1,10)] # 위의 리스트 축약형

In [51]:
int_str1

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [53]:
int_str2

['1', '2', '3', '4', '5', '6', '7', '8', '9']

#### with if

In [54]:
int_str_odd1 = []
for i in range(1,10):
    if i % 2 == 1:
        int_str_odd1.append(str(i))

In [55]:
int_str_odd2 = [str(i) for i in  range(1,10) if i % 2 == 1]

In [56]:
int_str_odd1

['1', '3', '5', '7', '9']

In [57]:
int_str_odd2

['1', '3', '5', '7', '9']

In [58]:
odd_integers = [i for i in range(10) if i % 2 == 1]
square = [pow(i,2) for i in odd_integers]

In [59]:
odd_integers

[1, 3, 5, 7, 9]

In [61]:
square

[1, 9, 25, 49, 81]

In [63]:
import numpy
zeroes1 = list(numpy.zeros(10, dtype=numpy.int))
zeroes2 = [0] * 10
zeroes3 = [0 for _ in range(10)] # _는 필요없는 더미 변수를 보여주는 것이다

In [64]:
zeroes1

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [65]:
zeroes2

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [66]:
zeroes3

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

## 중첩 리스트 축약

In [68]:
pairs = [(x,y) for x in range(2,10)
        for y in range(1,10)]
pairs

[(2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (2, 7),
 (2, 8),
 (2, 9),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (3, 7),
 (3, 8),
 (3, 9),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (4, 7),
 (4, 8),
 (4, 9),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (5, 7),
 (5, 8),
 (5, 9),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6),
 (6, 7),
 (6, 8),
 (6, 9),
 (7, 1),
 (7, 2),
 (7, 3),
 (7, 4),
 (7, 5),
 (7, 6),
 (7, 7),
 (7, 8),
 (7, 9),
 (8, 1),
 (8, 2),
 (8, 3),
 (8, 4),
 (8, 5),
 (8, 6),
 (8, 7),
 (8, 8),
 (8, 9),
 (9, 1),
 (9, 2),
 (9, 3),
 (9, 4),
 (9, 5),
 (9, 6),
 (9, 7),
 (9, 8),
 (9, 9)]

In [69]:
pass_grades = [letter + sign for letter in 'ABCD' for sign in '+0-']
pass_grades

['A+', 'A0', 'A-', 'B+', 'B0', 'B-', 'C+', 'C0', 'C-', 'D+', 'D0', 'D-']

In [70]:
sku = [gender + size + color for gender in 'FM' for size in 'SMLX' if not (gender=='F' and size == 'X') for color in 'WGRB']
sku

['FSW',
 'FSG',
 'FSR',
 'FSB',
 'FMW',
 'FMG',
 'FMR',
 'FMB',
 'FLW',
 'FLG',
 'FLR',
 'FLB',
 'MSW',
 'MSG',
 'MSR',
 'MSB',
 'MMW',
 'MMG',
 'MMR',
 'MMB',
 'MLW',
 'MLG',
 'MLR',
 'MLB',
 'MXW',
 'MXG',
 'MXR',
 'MXB']

In [71]:
len(sku)

28

In [72]:
sku = [gender + size + color for gender in 'FM' for size in 'SMLX' for color in 'WGRB' if not (gender=='F' and size == 'X')]
sku       # for 끼리 계속 이어서 하고 if를 걸어도 위와 똑같은 결과를 냄(다만 구조적으로 이런 게 가능한 상황에서만 써야할 듯)

['FSW',
 'FSG',
 'FSR',
 'FSB',
 'FMW',
 'FMG',
 'FMR',
 'FMB',
 'FLW',
 'FLG',
 'FLR',
 'FLB',
 'MSW',
 'MSG',
 'MSR',
 'MSB',
 'MMW',
 'MMG',
 'MMR',
 'MMB',
 'MLW',
 'MLG',
 'MLR',
 'MLB',
 'MXW',
 'MXG',
 'MXR',
 'MXB']

In [75]:
# 단일항목(singleton) 튜플은 쉼표를 찍어주세요/ 복수 항목의 경우는 쉼표 불필요! 하나일 때만 컴퓨터가 헷갈리니까 해주는 것
t1 = ('파이썬',)
t2 = ('파이썬')
t3 = 'drum',
t4 = 'drum'
print(len(t1),len(t2),len(t3),len(t4))
print(type(t1),type(t2),type(t3),type(t4))

1 3 1 4
<class 'tuple'> <class 'str'> <class 'tuple'> <class 'str'>

### 튜플의 아름다움은 tuple assignment      x,y = y,x

In [78]:
# x, y = 1, 2, 3 과 같이 쓸 수는 없다
x, _, y, _ = 1, 2, 3, 4 # 이렇게 더미 변수를 만들어 줄 수 있다
print(x, y, _)

1 3 4

In [80]:
# 튜플 패킹
t = 3.14, [5,-3], 'green', ('드럼', '기타')

# unpacking
a, b, c, d = t
print(a, b, c, d, t)

3.14 [5, -3] green ('드럼', '기타') (3.14, [5, -3], 'green', ('드럼', '기타'))

In [81]:
# 배열형 패킹
x, *y, z = 3.14, [5,-3], 'green', ('드럼', '기타')

In [82]:
x

3.14

In [83]:
y

[[5, -3], 'green']

In [84]:
z

('드럼', '기타')

# 네임드 튜플

In [85]:
from collections import namedtuple
RGBtuple = namedtuple('RGB', ['red', 'green', 'blue'])
RGBtuple

__main__.RGB

In [86]:
x1 = RGBtuple(255,51,102)
x2 = RGBtuple(blue = 51, red=102, green=153)
x3 = RGBtuple(0, blue=204, green=51)
x3

RGB(red=0, green=51, blue=204)

In [87]:
x1[0]

255

In [88]:
x3.red

0

In [89]:
PythonCourse = namedtuple('Student', 'id, name, name, exam, exam, grade', 
                          rename = True, # 만약 rename이 True면 잘못된 필드 이름은 인덱스 값을 지닌 이름으로 자동 대체됨
                          module='examples')
PythonCourse

examples.Student

In [90]:
s = PythonCourse('12345', '홍', '길동', 91, 95, 'A0')
s

Student(id='12345', name='홍', _2='길동', exam=91, _4=95, grade='A0')

In [2]:
set1 = set('바나나')
len(set1)

2

In [11]:
set2 = set({'바나나'})
len(set2)

1

### set 집합 연산자 | & - ^(대칭차집합)

In [14]:
# 프로즌 셋은 불변형 셋
s = {1,2,3,4,5}
t = frozenset({3,5,7,8,9})
x = s & t
y = t & s

In [15]:
print(x)
type(x)

{3, 5}

set

In [16]:
print(y)
type(y)

frozenset({3, 5})

frozenset

In [19]:
instruments = ['기타', '베이스']
simple_dic = {1:'엄마', 2:'아빠', 3:'나'}
complex_dic = {
    '악기' : instruments,
    '가족' : simple_dic,
    (8,15) : '광복절',
    'RGB' : [255, 72, 90],
    'id' : (),
    0 : 55,
    -307 : None,
    'fruits' : set()
}

In [20]:
complex_dic

{'악기': ['기타', '베이스'],
 '가족': {1: '엄마', 2: '아빠', 3: '나'},
 (8, 15): '광복절',
 'RGB': [255, 72, 90],
 'id': (),
 0: 55,
 -307: None,
 'fruits': set()}

In [21]:
complex_dic['X'] = -258.42
complex_dic['가족'][4] = '동생'
complex_dic['악기'].append('드럼')
complex_dic['fruits'].add('블루베리') 
# 각각의 딕셔너리 key들의 저장 형태에 맞게 추가해주는 방법도 다르다

complex_dic

{'악기': ['기타', '베이스', '드럼'],
 '가족': {1: '엄마', 2: '아빠', 3: '나', 4: '동생'},
 (8, 15): '광복절',
 'RGB': [255, 72, 90],
 'id': (),
 0: 55,
 -307: None,
 'fruits': {'블루베리'},
 'X': -258.42}

In [34]:
complex_dic.keys()

dict_keys(['악기', '가족', (8, 15), 'RGB', 'id', 0, -307, 'fruits', 'X'])

In [35]:
complex_dic.values()

dict_values([['기타', '베이스', '드럼'], {1: '엄마', 2: '아빠', 3: '나', 4: '동생'}, '광복절', [255, 72, 90], (), 55, None, {'블루베리'}, -258.42])

In [36]:
complex_dic.items()

dict_items([('악기', ['기타', '베이스', '드럼']), ('가족', {1: '엄마', 2: '아빠', 3: '나', 4: '동생'}), ((8, 15), '광복절'), ('RGB', [255, 72, 90]), ('id', ()), (0, 55), (-307, None), ('fruits', {'블루베리'}), ('X', -258.42)])

In [37]:
tuple(complex_dic.keys())

('악기', '가족', (8, 15), 'RGB', 'id', 0, -307, 'fruits', 'X')

In [38]:
list(complex_dic.items())

[('악기', ['기타', '베이스', '드럼']),
 ('가족', {1: '엄마', 2: '아빠', 3: '나', 4: '동생'}),
 ((8, 15), '광복절'),
 ('RGB', [255, 72, 90]),
 ('id', ()),
 (0, 55),
 (-307, None),
 ('fruits', {'블루베리'}),
 ('X', -258.42)]

In [49]:
complex_dic['Y']

KeyError: 'Y'

In [50]:
complex_dic.get('Y')

In [53]:
complex_dic.get('X')

-258.42

In [54]:
complex_dic.get('X',12345)

-258.42

In [56]:
complex_dic.get('Y', 12345)

12345

In [57]:
complex_dic.clear()
complex_dic

{}

In [10]:
# 딕셔너리 축약형
x = {i : pow(i,2) for i in range(-9,10)}
x

{-9: 81,
 -8: 64,
 -7: 49,
 -6: 36,
 -5: 25,
 -4: 16,
 -3: 9,
 -2: 4,
 -1: 1,
 0: 0,
 1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81}

In [60]:
# 디폴트 딕셔너리
# k라는 키에 접근하려 했을 때 k 키가 없을 경우 디폴트 값으로 정해준 v를 생성

from collections import defaultdict
dd1 = defaultdict(str)
dd2 = defaultdict(int)

In [61]:
x = dd1['name']

In [62]:
print(x)
print(dd1)

defaultdict(<class 'str'>, {'name': ''})

In [63]:
y = dd2['name']

In [64]:
print(y)
print(dd2)

0
defaultdict(<class 'int'>, {'name': 0})

In [65]:
dd_int = defaultdict(lambda: -1)
dd_point = defaultdict(lambda: (0,0))
dd_msg = defaultdict(lambda: '남겨진 메시지가 없습니다')

In [76]:
x = dd_int['잔액']
x
dd_int

-1

defaultdict(<function __main__.<lambda>()>, {'잔액': -1})

In [77]:
y = dd_point['좌표']
y
dd_point

(0, 0)

defaultdict(<function __main__.<lambda>()>, {'좌표': (0, 0)})

In [78]:
z = dd_msg['메시지']
z
dd_msg

'남겨진 메시지가 없습니다'

defaultdict(<function __main__.<lambda>()>, {'메시지': '남겨진 메시지가 없습니다'})

In [82]:
# 순서가 있는 딕셔너리
stock = dict(키보드=2, 드럼=3, 기타=11, 베이스=5, 색소폰=1)

from collections import OrderedDict
OrderedDict(sorted(stock.items()))
OrderedDict(sorted(stock.items(), key=lambda e: len(e[0])))
OrderedDict(sorted(stock.items(), key=lambda e: e[1]))

OrderedDict([('기타', 11), ('드럼', 3), ('베이스', 5), ('색소폰', 1), ('키보드', 2)])

OrderedDict([('드럼', 3), ('기타', 11), ('키보드', 2), ('베이스', 5), ('색소폰', 1)])

OrderedDict([('색소폰', 1), ('키보드', 2), ('드럼', 3), ('베이스', 5), ('기타', 11)])

In [86]:
tasks = OrderedDict()
tasks[1] = '이메일 확인 및 답변'
tasks[2] = '강의 준비'
tasks[3] = '강의 자료 올리기'
tasks[4] = '백업'
tasks[5] = '점심'
tasks[6] = '강의'
tasks[7] = '면담'

list(tasks.items())

[(1, '이메일 확인 및 답변'),
 (2, '강의 준비'),
 (3, '강의 자료 올리기'),
 (4, '백업'),
 (5, '점심'),
 (6, '강의'),
 (7, '면담')]

In [87]:
list(tasks.values())

['이메일 확인 및 답변', '강의 준비', '강의 자료 올리기', '백업', '점심', '강의', '면담']

In [88]:
tasks.popitem()

(7, '면담')

In [91]:
tasks.popitem(last=False)

(1, '이메일 확인 및 답변')

In [90]:
list(tasks.values())

['이메일 확인 및 답변', '강의 준비', '강의 자료 올리기', '백업', '점심', '강의']

In [92]:
# 얕은 복사는 c = d[:] or c = d.copy() 처럼 하면 되고
# 깊은 복사는 c = d.deepcopy()
# 깊은 복사를 하는 이유는 얕은 복사 시 내부에 리스트 같은 게 또 있으면 그걸 주소 참조해버리기 때문이다(컴퓨팅 효율성 때문에 이렇게 했음)

In [26]:
L = [1,7,[4,9], 'f', ('a', 'b')]

In [27]:
L.append('g')
L

[1, 7, [4, 9], 'f', ('a', 'b'), 'g']

In [28]:
L[-2:]

[('a', 'b'), 'g']

In [29]:
atuple = (1,5,(2,3),'green',['드럼','기타'])

In [31]:
btuple = atuple[-2:]

In [32]:
(2,3) in atuple

True

In [33]:
5 in btuple

False

In [40]:
s1 = {2,4,5,7}
s2 = {1,2,7,9}

In [42]:
print(s1 | s2)

{1, 2, 4, 5, 7, 9}

In [41]:
print(s1 & s2)

{2, 7}

In [43]:
d = dict()

In [46]:
d['even'] = (2,4,6,8)
d['odd'] = (1,3,5,7,9)
d['prime'] = (2,3,5,7)
d

{'even': (2, 4, 6, 8), 'odd': (1, 3, 5, 7, 9), 'prime': (2, 3, 5, 7)}

In [47]:
d['all'] = (1,2,3,4,5,6,7,8,9,10)
d

{'even': (2, 4, 6, 8),
 'odd': (1, 3, 5, 7, 9),
 'prime': (2, 3, 5, 7),
 'all': (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)}

In [48]:
del d['odd']
d

{'even': (2, 4, 6, 8),
 'prime': (2, 3, 5, 7),
 'all': (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)}